<!DOCTYPE html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
        
</head>
<body>
    <div class="main-con">
    {{>header}}
    <p>forecast weather website</p>
    <img class="portrait" src="/img/weather.png">

    </div>

    {{>footer}}

</body>
</html>