<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="css/styles.css">
    <title>Help</title>
</head>
<body>
    <div class="main-con">
    {{>header}}
    <p>Helping text ,, </p>
    </div>

    {{>footer}}

</body>
</html>